<div class="control-price card-budget__input">
	<input name="" class="js-control-pretty-price js-form-changes-skip text-input custom-sale" type="text" placeholder="0" value="{{ value }}" maxlength="17" data-format-short="1" data-autosized="y" autocomplete="off" style="width: 13px;">
	<input name="{{ name }}" class="text-input js-control-raw-price" type="numeric" value="{{ value }}" autocomplete="off" style="display: none;" >
</div>
<span class="card-budget__currency card-budget__currency_title">{{ tag }}</span>